/*---------------页面样式重置---------------*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, button, input, textarea,
th, td {
    margin: 0;
    padding: 0;
}
ul{list-style: none;}
a { text-decoration: none; outline: none;}
img{outline: none;border: none;}
.clearfix {zoom:1;}    /*==for IE6/7 Maxthon2==*/
.clearfix :after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}
.left{float: left;}
.right{float: right;}
/*==========================================首页==================================================*/

/*---------------/页面样式重置---------------*/
.logo{font-size: 20px;color: #ffffff;font-family: "Microsoft Yahei";}
.wrapper{width: 100%;background-color: #eeeeee;}
/*导航*/
.topNav{width: 100%;background-color: #262b2f;}
.nav{width: 1200px;margin: 0 auto;height: 60px;line-height: 60px;}
.navLeft{float: left;}
.navLeft h1{color: #ffffff;}
.navRight{float: right;}
.navR-ul{float: left;}
.navR-ul .navR-li{float: left;height: 60px;}
.navR-ul .navR-li .navR-a{color: #ffffff;font-size: 16px;font-family: "Microsoft Yahei";padding: 0 14px;display: block;}
.navR-ul .navR-li .navR-a:hover , .active{background-color:#0077e0;transition-property: background-color;transition-duration: 1s;}
/*banner*/
.banner{width: 100%;height: 450px;position: relative;}
.ConShow{position: absolute;top:0;bottom:0;right: 0;left: 0;margin: auto;width: 100%;height: 450px;}
.bannerImg{width: 100%;height: 450px;}
.iconBtn{position: absolute;width: 100%;top: 0;bottom: 0;margin: auto;height: 76px;}
.leftBtn,.rightBtn{cursor:pointer;font-size: 40px;font-weight: bold;font-family: "Microsoft Yahei";color: #ffffff;position: absolute;padding: 10px 15px;background: rgba(0,0,0,0.1);height: 60px;border-radius: 10px;filter:alpha(opacity=10) \9; background-color: #000000 \9;/* IE */}
.leftBtn{left: 25px;}
.rightBtn{right: 25px;}
.leftBtn:hover,.rightBtn:hover{background: rgba(0,0,0,0.4);filter:alpha(opacity=40) \9; background-color: #000000 \9;/* IE */}
.numList{position: absolute;bottom: 20px;margin: 0 auto;left: 46%;right: 0;}
.numList-ul .numList-li{float: left;width: 15px;height: 15px;border-radius: 50%;background-color: #CCCCCC;margin-left: 12px;cursor: pointer;}
.numListOn{background-color: #ffffff !important;}

.ConShow-01{background: url("../images/banner_02.jpg") no-repeat center;}
.ConShow-02{background: url("../images/banner.jpg") no-repeat center;opacity: 0;filter:alpha(opacity=0); /* IE */}
.ConShow-03{background: url("../images/banner_02.jpg") no-repeat center;opacity: 0;filter:alpha(opacity=0); /* IE */}
.ConShow-04{background: url("../images/banner.jpg") no-repeat center;opacity: 0;filter:alpha(opacity=0); /* IE */}



/*内容展示*/
.subjectCon{width: 100%;}
.conAll{width: 1200px;margin: 0 auto;}
.ConNavBar{width: 100%;margin-bottom: 100px;height: 240px;}
.NavBar{width: 300px;height: 160px;position: relative;float: left;cursor: pointer;display: block;
    transition:height 1s;
    -moz-transition:height 1s; /* Firefox 4 */
    -webkit-transition:height 1s; /* Safari and Chrome */
    -o-transition:height 1s; /* Opera */
}
.NavBar:hover,.activeNav{
    height: 240px !important;
}
.NavBar-01{background-color: #ff910a;}
.NavBar-02{background-color: #e65027;}
.NavBar-03{background-color: #4d4d4d;}
.NavBar-04{background-color: #54b37f;}
.sjImg{position: absolute;bottom:-66px;}
.iconImg {position: absolute;left: 0;right: 0;margin: 0 auto;top: 30px;}
.conh1{display: block;position: absolute;left: 0;right: 0;margin: 0 auto;top: 126px;text-align: center;color: #ffffff;}
.conSpan{opacity:0;display:none \9;position: absolute;left: 0;right: 0;margin: 0 auto;bottom:25px;text-align: center;color: #ffffff;font-family: "Microsoft Yahei";font-size: 14px;

}
/*--------------------*/
.Classic-case{width: 100%;margin-top: 50px;margin-bottom: 40px;}
.tit{width: 100%;text-align: center;}
.Case-h3{color: #333333;text-align: center;font-family: "Microsoft Yahei";font-size: 24px;}
.Case-span{color: #999999;font-size: 14px;font-family: "Microsoft Yahei";display: block;text-align: center;}
.Case-img{text-align: center;margin: 20px 0;}
.Show-carousel{width: 100%;height: 300px;position: relative;overflow: hidden;}
.EveryNav{width: 5000px;height: 300px;position: absolute;top: 0;}
.Every{width: 286px;height: 300px;position: relative;display: inline-block;margin-left: 12px;}
.everyBottom {
    padding: 15px 20px;
    background-color: #fff;
}
.everySpan,.everySize{font-size: 12px;font-family: "Microsoft Yahei";}
.everySpan{color: #707070;display: block;padding: 1px 0;}
.everySize{color: #ff8010;}
.everyImg{position: absolute;bottom:52px;right: 15px;z-index: 10;}
.everyBtn{width: 100%;height: 30px;position: absolute;top: 0;bottom: 0;margin: auto;}
.everyBtnAll{width: 28px;height: 28px;line-height:28px;text-align:center;border: 1px solid #dadbdb;position: absolute;background-color: #ffffff;cursor: pointer;border-radius: 6px;font-weight: bold;font-size: 16px;}
.everyLeft{left: -30px;}
.everyRight{right: -30px;}
.detaLeft{left: -30px;}
.detaRight{right: -30px;}
.maskAll{opacity: 0;display: none \9;}
.mask{width: 286px;height: 213px;background: rgba(0,0,0,0.5);position: absolute;top:0;filter:alpha(opacity=50); /* IE */z-index: 5;background-color: #000 \9;display: block;}
.ssImg{position: absolute;width: 50px;height: 50px;top: 0;right: 0;bottom:0;left: 0;margin: auto;z-index: 6;}
.everyTop{
    width: 286px;
    height: 213px;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 4;
    cursor: pointer;
}
.everyBottom {
    padding: 15px 20px;
    background-color: #fff;
    position: absolute;
    bottom: 2px;
    width: 86%;
    z-index: 9;
}
.more{margin: 40px 0;width: 100%;}
.more > a{display: block;color: #000;background-color:#eee;border:1px solid #0077e0;width: 300px;height: 50px;margin: 0 auto;text-align: center;line-height: 50px;border-radius: 8px;font-size: 16px;font-family: "Microsoft Yahei";letter-spacing: 1px;}
.more > a:hover{background-color: #066fcb;color: #ffffff;}
.all{width: 100%;position: relative;height: 300px;}
/*-------------------------关于我们---------------------------*/
.about{width: 100%;background-color: #ffffff;}
.aboutCon{width: 1200px;height: 365px;margin: 0 auto;padding: 40px 0 0 0;}
.about-p{padding: 35px 90px;font-size: 16px;color: #333333;font-family: "Microsoft Yahei";line-height: 26px;text-align: center;}
.aboutMore{margin-top: 0;margin-bottom: 0;}
.aboutMore > a{background-color: #ffffff;border: 1px solid #0077e0;color: #333333;}
.aboutMore > a:hover{background-color: #066fcb;color: #ffffff;}

/*-------------------------/关于我们-----------------------------*/

/*-------------------------新闻中心-----------------------------*/
.News-Center{width: 100%;margin: 0 auto;padding: 40px 0 0 0;position: relative;}
.news{width: 100%;padding-top: 40px;}
.news-ul{width: 100%;}
.news-li{height: 150px;box-shadow: 0px 2px 2px #c9c9c9;cursor: pointer;}
.newsCon{width: 1200px;margin: 0 auto;height: 90px;padding: 30px 0;text-align: center;position: relative;}
.posCon{position: absolute;left: 200px;padding-right: 50px;}
.posConLeft{float:left;width: 200px;}
.posTime{font-size: 60px;color: #999999;display: block;font-family: "Microsoft Yahei";}
.posYear{font-size: 16px;color: #999999;display: block;float: right;margin-right: 20px;font-family: "Microsoft Yahei";}
.posConRight{display: inline-block;width: 670px;text-align: left;padding-left: 30px;}
.pos-h3{display: block;padding-top: 11px;font-family: "Microsoft Yahei";font-weight: normal;font-size: 18px;color: #333333;}
.pos-span{font-size: 14px;font-family: "Microsoft Yahei";padding-top: 16px;display: block;line-height: 25px;color: #333333;}
.news-li:hover{background-color: #0077e0;}
.less{background: url("../images/less_03.png") no-repeat right;}
.newsMore{padding: 40px 0;}
.newsMore > a{background-color: #eeeeee;}
/*-------------------------/新闻中心-----------------------------*/

/*-------------------------底部-----------------------------*/
.footer{width: 100%;height: 175px;background-color: #262b2f;text-align: center;}
.footer-ul{width: 100%;text-align: center;padding: 40px 0 22px 0;}
.footer-li{display: inline-block;color: #ffffff;}
.footer-li a{color: #ffffff;font-size: 16px;font-family: "Microsoft Yahei";display: inline-block;padding: 0 18px;}
.footer-li > a:hover{text-decoration:underline;}
.footerTop,.footerBottom{font-size: 14px;color: #ffffff;font-family: "Microsoft Yahei";padding-top: 10px;}
/*-------------------------/底部-----------------------------*/
.return{position: fixed;right: 0;bottom: 25px;background-color: #fff;z-index: 1000;}
.reTurnAll{width: 50px;height: 50px;cursor: pointer;}
.return-01{background: url("../images/return-h_09.png") no-repeat center;}
.return-02{background: url("../images/return_06.png") no-repeat center;}
.return-03{background: url("../images/return_03.png") no-repeat center;display: none;}
.return-01:hover{background: url("../images/return_09.png") no-repeat center;background-color: #0077e0;}
.return-02:hover{background: url("../images/return-h_06.png") no-repeat center;background-color: #0077e0;}
.return-03:hover{background: url("../images/return-h_03.png") no-repeat center;background-color: #0077e0;}
.code{width: 92px;height: 92px;padding:5px;border-radius:6px;position: absolute;left: -110px;top:32px;background-color: #f5f5f5;z-index: 1000;display: none;}
.triangle{width: 8px;height: 8px;background-color: #f5f5f5;z-index: 999;position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -3px;
    transform:rotate(52deg);
    -ms-transform:rotate(52deg); 	/* IE 9 */
    -moz-transform:rotate(52deg); 	/* Firefox */
    -webkit-transform:rotate(52deg); /* Safari 和 Chrome */
    -o-transform:rotate(52deg); 	/* Opera */
    display: none \9;
}
.link{width: 100%;display: block;}


/*==========================================经典案例==============================================*/
/*banner*/
.caseBanner{background: url("../images/caseBanner_02.jpg") no-repeat center;}
.conCase{width: 1200px;margin: 0 auto;}
.conTit{width: 100%;padding: 30px 0 0 0;}
.conTit-ul{width: 100%;}
.conTit-ul .conTit-li{display: inline-block;}
.conTit-ul .conTit-li .conTit-a{font-size: 16px;font-family: "Microsoft Yahei";color: #333333;}
.titActive{color: #0077e0 !important;}
.contentShow{width: 100%;}
.everyAll{margin-top: 30px;}


/*==========================================产品列表==============================================*/
/*筛选条件*/
.screen{width: 100%;background-color: #ffffff;border-bottom: 1px solid #CCCCCC;padding: 20px 0;position: relative;}
.screenRow{padding: 6px 0;width: 1200px;margin: 0 auto;}
.screen-span{float: left;font-size: 14px;color: #333333;font-family: "Microsoft Yahei";padding: 7px 15px;}
.screen-ul{width: 93%;margin-left: 7%;}
.screen-li{display: inline-block;}
.screen-a{display: block;font-size: 14px;color: #333333;font-family: "Microsoft Yahei";padding: 7px 12px;}
.screen-a:hover,.screenActive{background-color: #0077e0;color: #ffffff !important;border-radius: 6px;}
.screenMore{width: 130px;height: 30px;position: absolute;background-color: #ffffff;border:1px solid #CCCCCC;bottom: -31px;right: 76px;border-top: 0;line-height: 30px;cursor: pointer;background: url("../images/s.png") no-repeat center right 14px #ffffff;text-align: center \9;}
.More-a{color: #8a8a8a;font-size: 14px;font-family: "Microsoft Yahei";padding-left: 10px;}
.rowMore{display: none;}
.s-hide{background: url("../images/s-t_03.png") no-repeat center right 14px #ffffff;}
.s-show{}
/*内容展示*/
.listShow{padding-top: 34px;width: 100%;}
.picShow{width: 285px;position: relative;display: inline-block;margin: 0 7px;}
.picShow:last-child{margin-right: 0;}
.picMask{width: 285px;height: 190px;}
.picBottom{width: 100%;text-align: center;padding: 24px 0;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.picBottom > a{font-size: 16px;color: #333333;font-family: "Microsoft Yahei";}
.picImg{top: -62px;}
.paging{width: 100%;text-align: center;padding: 20px 0 40px 0;}
.pag-ul{}
.pag-li{display: inline-block;}
.pag-a{font-size: 14px;color: #333333;font-family: "Microsoft Yahei";display: block;padding: 5px 12px;border: 1px solid #c9c9c9;}
.picActive,.pag-a:hover{background-color: #0077e0;color: #ffffff;border: 1px solid #0077e0;}
.pagNew{font-size: 14px;color: #333333;font-family: "Microsoft Yahei";}
.picInput{margin:0 4px;padding-left:5px;width: 30px;height: 30px;line-height: 30px;border: 1px solid #c9c9c9;background-color: #eeeeee;outline: none;}
.btnPag{background-color: #0077e0;border:1px solid #0077e0;color: #ffffff; }


/*==========================================产品详情==============================================*/
.product{width: 1198px;border: 1px solid #CCCCCC;margin-top: 30px;padding: 40px 0;background-color: #ffffff;}
.conLeft{position: relative;margin-left: 50px;display: inline-block;}
.bigPic{width: 490px;height:350px;border: 1px solid #CCCCCC;}
.lit-ul{width: 100%;}
.lit-li{float: left;padding: 20px 27px 0 0;}
.lit-a {
    display: block;
    width: 100px;
    height: 92px;
    border: 1px solid #ccc;
}
.litActive{border: 1px solid #0077e0 !important;}
.litPic{width: 100%;}
.jqzoom {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -22px;
}
.conRight{width: 540px;margin-left: 50px;}
.h1-tit{color: #0077e0;font-size: 30px;font-family: "Microsoft Yahei";}
.spanSize{color:#666;font-size: 24px;font-family: "Microsoft Yahei";display: block;padding: 40px 0;}
.pSize{color:#333;font-size: 18px;font-family: "Microsoft Yahei";line-height: 35px;}
.tabNav{
    margin: 0 60px;
    width: 1080px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.detalledTab{width: 1200px;background-color: #ffffff;border: 1px solid #CCCCCC;float: left;margin-top: 60px;padding-top: 30px;}
.tab-ul{overflow: hidden;}
.tab-li{float: left;}
.tab-a{display: block;padding: 12px 25px;color: #333333;font-size: 18px;font-family: "Microsoft Yahei";}
.hd{width:72px;height: 4px;background-color: #0077e0;position: absolute;bottom: -2px;left: 22px;}
.content{padding:0 80px 35px 80px;width: 1040px;}
.p-tit{padding: 26px 0;width: 100%;font-size: 16px;color: #333333;font-family: "Microsoft Yahei";}
.p-con{width: 100%;font-size: 16px;color: #333333;font-family: "Microsoft Yahei";line-height: 28px;}
.ct,.ctCon{width: 1040px;}
.iconD{width: 10px;height: 10px;border-radius: 50%;background-color: #333333;display: inline-block;margin-right: 10px;}
.ct{display: none;}
.h-size{padding: 40px 0;width: 100%;float: left;}
.s-size{color: #333333;}
.detaAll,.detaShow,.detaNav{height: 254px;}
.picTop{cursor: pointer;width: 284px;height: 190px;}
.detaShow{z-index: 11;}
.detaBtn{z-index: 10;top: -70px;}
.detaAll{margin-bottom: 30px;}


/*==========================================新闻首页==============================================*/
.allCon{width: 1200px;padding: 30px 0;}
.newsBanner{background: url("../images/newsbanner_02.jpg") no-repeat center;}
.bannerLeft{float: left;width: 750px;height: 500px;position: relative;}
.litBanner{position: absolute;width: 750px;height: 500px;}
.litImg{width: 100%;}
.litIcon{position: absolute;bottom: 22px;right: 22px;}
.litIcon-ul{overflow: hidden;}
.litIcon-li{float: left;width: 14px;height: 14px;margin:0 6px;cursor:pointer;border-radius: 50%;background-color: #ffffff;}
.bg{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.3);
    filter:alpha(opacity=30); /* IE */
    background-color: #000000 \9;
}
.litSize{position: absolute;bottom: 22px;left: 20px;}
.litSpan{color: #ffffff;font-size: 16px;font-family: "Microsoft Yahei";}
.litIcon-li:hover{background-color: #0077e0;}
.litOn{background-color: #0077e0;}
.sizeRight{float: right;}
.sizeR-ul{}
.sizeR-li{color: #0077e0;}
.sizeR-a{color: #333333;font-size: 18px;font-family: "Microsoft Yahei";padding: 16px 10px;display: block;}
.sizeR-a:hover{color: #0077e0;}


/*==========================================新闻列表==============================================*/
.newsList{float: left;padding-top: 25px;position: relative;width: 100%;}
.news-listLeft{float: left;width: 174px;}
.newsList-ul{}
.newsList-li{margin-top: -1px;position: relative;cursor: pointer;background-color: #ffffff;}
.newsList-a{height: 55px;line-height:55px;border:1px solid #CCCCCC;color: #333333;display: block;font-size: 18px;font-family: "Microsoft Yahei";padding: 0 50px;}
.newsListA{background-color: #0077e0;color: #ffffff;border: 1px solid #0077e0;}
.sj-news{width: 30px;height: 58px;background: url("../images/news-ss_03.png") no-repeat center;top: -1px;right: -30px;position: absolute;}
.sj-news-02{width: 30px;height: 58px;background: url("../images/news-ss_03.png") no-repeat center;top: -1px;right: -30px;position: absolute;}
.sj-news-03{width: 30px;height: 58px;background: url("../images/news-ss_03.png") no-repeat center;top: -1px;right: -30px;position: absolute;}
.sj-news-04{width: 30px;height: 58px;background: url("../images/news-ss_03.png") no-repeat center;top: -1px;right: -30px;position: absolute;}

.news-listRight{width: 975px;float: right;}
.listNews{padding: 0;}
.listPosCon{left: 70px;padding-right: 40px;}
.list-li{border-bottom: 1px solid #c9c9c9;}
.listnewsCon{width: 1050px;margin: 0 auto;height: 90px;padding: 30px 0;text-align: center;position: relative;}
.listLink{background-color: #ffffff;}
.list-ul{overflow: hidden;}
.listpag{float: left;}
.listRightAll{float: right;}


/*==========================================新闻详情==============================================*/
.detail-sizeAll{background-color: #ffffff;width: 875px;padding: 45px;}
.de-h1,.deDate,.deDate-l,.deDate-r,.abstract,.de-p{font-family: "Microsoft Yahei";color: #333333;padding-bottom: 30px;}
.de-h1{font-size: 24px;}
.deDate{padding: 14px 28px;background-color: #f1f1f1;margin-bottom: 30px;}
.deDate-l{font-size: 13px;padding: 0;}
.deDate-r{font-size: 13px;padding: 0;float: right;}
.abstract{font-size: 14px;line-height: 28px;padding: 14px 28px;margin-bottom: 30px;border: 1px solid #d5d5d5;background-color: #f1f1f1;}
.de-p{font-size: 16px;line-height: 28px;text-indent: 2em;}
.lastSize{font-size: 16px;font-family: "Microsoft Yahei";color: #333333;float: right;}
.clickBtn{float: left;padding-left: 235px;padding-top: 30px;padding-bottom: 30px;width: 966px;}
.last-one{float: left;}
.next-article{float: right;}
.last-one,.next-article{font-size: 16px;font-family: "Microsoft Yahei";color: #333333;}
.last-one > a,.next-article > a{color: #333333;font-size: 16px;font-family: "Microsoft Yahei";}


.ro-p{text-indent: 0;}
.routine-span{display: block;}
.rou-all{padding-bottom: 0;margin-bottom: 45px;}
.roBanner{background: url("../images/us_02.jpg") no-repeat center;}

/*=====================================搜索================================================*/
.indexSearch{float: right;margin-left: 40px;width: 215px;height: 60px;position: relative;}
.indexText{color:#999;width: 200px;padding:9px 0;background-color:#eeeeee;border: 0;outline: none;padding-left: 15px;border-radius: 20px;font-family: "Microsoft Yahei";font-size: 14px;margin-top: 13px;}
.iconSs{width: 30px;height: 60px;background: url("../images/ss_index.png") no-repeat center;position: absolute;cursor: pointer;top: 0px;right: 10px;}

/*搜索结果页*/
.searchResult{position: absolute;width: 510px;height: 55px;left:50%;margin-left:-255px;top:50%;margin-top:-38px;}
.iconSs-res{width: 65px;height: 60px;background: url("../images/res_ss_03.png") no-repeat center;position: absolute;cursor: pointer;top: 0;right: 0;}
.resultText{width: 488px;background-color: #ffffff;border-radius: 30px;padding: 18px 0 18px 22px;border: 0;outline: none;font-size: 14px;font-family: "Microsoft Yahei";color: #999999;}
.res{left: 200px;}
.res-str{font-weight: normal;color: #0077e0;}
.news-res{border-bottom: 1px dashed #c9c9c9;box-shadow: none;height: 155px;}
.posConRes{width: 900px;}
.pos-span{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.pos-h3{display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.searchBanner{height: 300px;}
.resBanner{height: 300px;background: url("../images/ss-banner_02.jpg") no-repeat center;}
.pagRes{padding: 26px 0 32px 0;}
/*未找到信息*/
.notSize {
    height: 540px;
    display: inline-block;
    width: 40%;
    margin-left: 10%;
    text-align: center;
}
.notSpan{display: block;font-size: 36px;font-family: "Microsoft Yahei";color: #333333;margin-top: 130px;}
.notA{width: 220px;background-color: #0077e0;color: #ffffff;font-size: 26px;font-family: "Microsoft Yahei";display: inline-block;padding: 15px 0;border-radius: 10px;margin-top: 60px;}
.notIcon{width: 40%;height:250px;float:right;background: url("../images/not_03.png") no-repeat center;margin-top: 100px;margin-right: 10%;}
.seaSpan{padding-top: 8px;}
.posResLeft{padding-top: 5px;}
.notA:hover{background-color: #026dcb;}





/*-----------------------看图说话--------------------------*/
/*轮播*/
.acd_banner{width: 100%;height: 500px;position: relative;margin: 30px 0;}
.acd_all{}
.acd_con{position: absolute;top: 0;bottom: 0;right: 0;left: 0;margin: auto;width: 100%;height: 500px;}
.acd_con_01{background: url("../images/acd_banner_03.jpg") no-repeat center;}
.acd_con_02{background: url("../images/acd_banner2_03.jpg") no-repeat center;}
.acd_con_03{background: url("../images/acd_banner_03.jpg") no-repeat center;}
.acd_con_04{background: url("../images/acd_banner2_03.jpg") no-repeat center;}
.acd_prompt_all{width: 100%;height: 100px;position: absolute;bottom: 0;background: rgba(0,0,0,.6);}
.acd_tit{position: absolute;top: 36px;left: 26px;}
.acd_tit .acd_tit_span{color: #ffffff;font-size: 18px;font-family: "Microsoft Yahei";}
.acd_pic{position: absolute;top: 17px;right: 30px;}
.acd_ul{}
.acd_li{float: left;margin: 0 12px;border-color: transparent;border-width: 1px;border-style: solid;width: 100px;height: 70px;overflow: hidden;}
.acdBtn{padding-top: 17px;cursor: pointer;float: left;}
.acdActive{border: 1px solid #0677d9 !important;}

/*热点话题*/
.hot_topic{width: 100%;height: 35px;overflow: hidden;}
.hot_li{float: left;line-height: 35px;}
.hot_tit{color: #333333;font-family: "Microsoft Yahei";font-size: 14px;}
.hot_a{font-size: 16px;color: #ffffff;font-family: "Microsoft Yahei";display: block;background-color: #0077e0;height: 35px;padding: 0 15px;margin-right: 10px;}

/*内容展示*/
.acdsee_Con{width: 100%;overflow: hidden;padding-bottom: 30px;}
.acdsee_Con_Child{width: 100%;float: left;padding: 30px 0 0 0;}
.acdsee_Child_tit{width: 100%;float: left;height: 35px;line-height: 35px;}
.acd_child_h3{font-family: "Microsoft Yahei";font-size: 24px;color: #333333;font-weight: normal;float: left;}
.acd_child_a{font-family: "Microsoft Yahei";color: #0077e0;font-size: 18px;display: block;float: right;}
.acdsee_Child_pic{width: 100%;height: 460px;float: left;margin-top: 30px;}
.child_img{width: 600px; height: 340px;overflow: hidden;}
.child_size{padding:20px 15px;background-color: #ffffff;position: relative;border: 1px solid #d5d5d5;border-top: 0;}
.h3_child{
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
    width: 20em;/*不允许出现半汉字截断*/
    font-size: 18px;font-weight: normal;color: #333333;font-family: "Microsoft Yahei";padding: 3px 0 8px 0;display: block;
}
.h3_child:hover,.h3_lit:hover{color: #0077e0;}
.span_child{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;color: #333333;font-family: "Microsoft Yahei";line-height: 22px;
}
.seeCon{position: absolute;bottom: 20px;right: 28px;color:#0077e0;font-size: 14px;font-family: "Microsoft Yahei"; }
.child_pic_left{float: left;width: 600px;height: 460px;overflow: hidden}


.child_pic_right{width: 600px;height: 460px;float: right;overflow: hidden;}
.child_all{width: 280px;float: left;margin-left: 20px;margin-bottom: 20px;}
.child_img_lit{width: 280px;height: 160px;float: left;overflow: hidden;}
.span_lit{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;display: block;font-size: 12px;color: #333333;}
.h3_lit{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;font-size: 16px;font-weight: normal;color: #333333;font-family: "Microsoft Yahei";padding: 0px 0 8px 0;display: block;}
.child_size_tit{width: 249px;float: left; padding:8px 15px;background-color: #ffffff;position: relative;border: 1px solid #d5d5d5;border-top: 0;}

.acd_child_a:hover,.seeCon:hover{text-decoration: underline;}
.hot_a:hover{background-color: #026dcb;}
.acd_footer{float: left;}

/*------------------------------看图详情----------------------------------*/
.pic_banner{width: 1200px;overflow: hidden;background-color: #ffffff;text-align: center;margin-top: 30px;border: 1px solid #d5d5d5;}
.pic_ban_h3{font-weight:normal;font-size: 24px;color: #333333;font-family: "Microsoft Yahei";padding: 30px 0 0 0;}
.pic_banner_con{width: 100%;padding: 30px 0 0 0;height: 700px;position: relative;}
.pic_banner_img{width: 968px;height: 544px;overflow: hidden;position: absolute;left: 50%;margin-left: -484px;}
.pic_01{background: url("../images/pic_detail_banner_03.jpg") no-repeat center;}
.pic_02{background: url("../images/pic_detail_banner2_03.jpg") no-repeat center;}
.pic_03{background: url("../images/pic_detail_banner3_03.jpg") no-repeat center;}
.pic_04{background: url("../images/pic_detail_banner4_03.jpg") no-repeat center;}
.pic_05{background: url("../images/pic_detail_banner5_03.jpg") no-repeat center;}
.pic_06{background: url("../images/pic_detail_banner6_03.jpg") no-repeat center;}

.pic_banner_size{width: 968px;position:absolute;bottom: 0px;margin-left: -484px;left: 50%;text-align: left;padding-bottom: 36px;}
.pic_num,.pic_con{float:left;font-family: "Microsoft Yahei";color: #333333;}
.pic_num{font-size: 36px;width: 136px;padding-top: 14px;}
.pic_con{font-size: 14px;width: 832px;line-height: 26px;}
.pic_con_size{float: right;font-size: 14px;font-family: "Microsoft Yahei";color: #333333;}
.pic_I{color: #0077e0;font-style: normal;}
.pic_btn_left,.pic_btn_right{position: absolute;font-size: 50px;padding: 30px 38px;font-family: "Microsoft Yahei";top: 50%;margin-top: -126px;cursor: pointer;color: #0077e0;}
.pic_btn_left{left: 0;}
.pic_btn_right{right: 0;}
.pic_lit_con{width: 100%;height: 100px;background-color: #e5e5e5;position: relative;}
.little_ul {
    overflow: hidden;
    position: absolute;
    width: 99999px;
    height: 80px;
}
.little_li {
    float: left;
    margin-right: 30px;
    height: 70px;
    width: 100px;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    padding: 2px 2px 2px 2px;
    cursor: pointer;
}
.little_btn_left,.little_btn_right{position: absolute;font-size: 50px;font-family: "Microsoft Yahei";cursor: pointer;color: #0077e0;top: 0;padding: 16px 18px;}
.little_btn_left{left: 0;}
.little_btn_right{right: 0;}
.zt_icon{width: 10px;height: 10px;background:url("../images/zt_icon_03.png") no-repeat center;position: absolute;top: -9px;left: 119px;}
.pic_btn_All{display: block;}
.ul_all {
    position: relative;
    width: 1080px;
    height: 80px;
    overflow: hidden;
    top: 13px;
    left: 70px;
}
.pic_recommend{width: 100%;}
.pic_rec_h3{font-family: "Microsoft Yahei";font-weight: normal;color: #333333;font-size: 24px;padding: 30px 0;}
.pic_rem_con{width: 100%;}
.aaa{border: 1px solid red;}













